.grid-area{
    grid-template-areas:
    "nav header"
    "nav main"
}

.grid-area nav{
    grid-area: nav;
    width: 20vw;
}
.grid-area header{
    grid-area: header;
    width: 80vw;
    height: 25vh;
}
.grid-area main{
    grid-area: main;
    width: 80vw;
    height: 75vh;
}

div button, div button a{
    outline: none;
}

input[type="checkbox"]:checked + label::before{
    background-color: #3064B4;
}

input[type="checkbox"]:checked + label::after{
    background-image: url(../images/svg/correct.svg);
}

/* Loading Animation */

.loader {
    width: 32px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,#ffffff 94%,#0000) top/4px 4px no-repeat,
      conic-gradient(#0000 30%,#ffffff);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
    animation: l13 1.5s infinite linear;
}

@keyframes l13{ 
    100%{transform: rotate(1turn)}
}